
// window
$large: 1680px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 820px;
$phone: 480px;


// colors
$blue: #3A5199;
$black: #2F2E33;
$gray: #D5D6D2;
$white: #fff;
$pink: #D7C7FF;
$hover_color_1: #98A0B8;


$test_color: $white;
