footer.footer
	.container
		p(class="lng-s_footer_text_1").text Postal address: Russian Federation. <br/>St. Petersburg. Ligovsky prospect 50. <br/>Postal Code: 190000 <br/>STO: Oleg Serdiuk <br/>oleg-s32@yandex.ru <br/>
		
		include ./base-page/s_intro/socials.pug
		
		p(class="lng-s_footer_text_2").text Pandemoniumw project© 2021. All rights reserved