section.s_about#s_about
	.container
		.aboutUs
			h2(class="lng-s_about_title_1").title about us
			p(class="lng-s_about_text_1").text We are a young team united by common interests and game development, with rich experience in the mobile market. Our project is a fantasy meta–universe with references to things we all love, bulit on a blockchain system using original NFT cards.
			h3(class="lng-s_about_title_2").title our story
			p(class="lng-s_about_text_2").text In June 2021, a group of programmers and designers already working on mobile games turn their eyes on the blockchain system. It turned out that all of us bought NFT cards for collectible or blockchain games. Games cannot develop without technology, and technology is well promoted through games. We have all the potential to create new interesting products with the lastest technology.
			h3(class="lng-s_about_title_3").title our mission
			p(class="lng-s_about_text_3").text The priority for us is to use and popularize modern technologies and create games. We believe that the blockchain system is the future.
		