section.s_gameProcess#s_gameProcess
	.container.gameProcess
		h2(class="lng-s_gameProcess_title_1").title._grad Game process
		p.text 
			span(class="lng-s_gameProcess_text_1") In the game you have to become the owner of a valiant knight, against the warlike rats that attacked the wild lands of Eigu. 
			<br/> 
			span(class="lng-s_gameProcess_text_2") Knights have not only swords and armor, but also loyal friends who will come to the rescue at any moment!
		img(src=`./assets/images/game_preview.png`)._preview
		h2(class="lng-s_gameProcess_title_2").title._grad Meet our Christmas characters
		a( href="#s_intro" class="lng-btn_bestiary page-btns_bestiary").btn._shadow Bestiary