section.s_info#s_info
	.container
		.telegram-block
			+svg('telegram_arr')._l
			+svg('telegram_arr')._r
			h2(class="lng-s_info_grad_1").title._grad Join our telegram community
			p(class="lng-s_info_text_1").text._main Your time has come!
			p(class="lng-s_info_text_2").text._fl Become the strongest hero of Pandemonium by subscribing to our telegram channel! News, events and special offers are waiting for you!
			.telegram-block__btn
				a(href="https://t.me/pandemoniumw_bot" target="blanck" class="btn")
					span(class="lng-btn_bot")
				+svg('telegram')
		.hr

		.s_info__block
			h2(class="lng-s_info_title_1").title This is just the beginning. We're releasing the first batch of our limited edition cards with Pretty Naiad.
			p(class="lng-s_info_text_3").text._fl Naiad is the younger demoness of the rivers. It controls the movement of matter. Naiad rules from the waters of the Styx to the Great Lava Flow of the Underworld. She loves good jokes. <span class="_bold">Attention!</span> Beauty Naiad can burn you with one glance.

			h2(class="lng-s_info_grad_2").title._grad You can find more information abou magical creatures in our bestiary
			a( href="#s_intro" class="lng-btn_bestiary page-btns_bestiary").btn Bestiary
		.hr