section.s_roadmap#s_roadmap
	.container#roadmap_cont
		h2.title roadmap
		//- each el in roadmaps
		//- 	.road(data-aos)
		//- 		.road__block
		//- 			h3.date=el.date
		//- 			h5.name=el.title
		//- 			ul.road__list
		//- 				//- each li in el.list
		//- 				//- 	li.road__el=li
		//- 
		//- 		.point(style=`background: linear-gradient(125deg, ${el.colors._1} 0%, ${el.colors._2} 100%);`)
		//- 			+svg('arrows')
