-
  let navs =[
    { text:'home',
     url:'s_intro'},
    { text:'about',
     url:'s_about'},
    { text:'team',
     url:'s_team'},
  ];


  let socials = [
    // {
    //   name: 'telegram',
    //   url: 'https://t.me/pandemonium2021'
    // },
    // {
    //   name: 'twitter',
    //   url: 'https://twitter.com/PandemoniumNFT'
    // },
    // {
    //   name: 'ticktok',
    //   url: '#'
    // }
  ];



  let history = [
    {
      "id": "map_ice",
      "img":"1",
      "en":{
        "title": "The ICE Wastelands of Eigu",
        "text": ["The ice wastelands of Eigu are located in the north of the first plane.The extreme cold that prevails in these areas has penetrated sodeeply into the ground that it has begun to provoke strong seismic activity.Because of this, huge faults resembling snow-covered, incredibly deep canyons as wellas smaller faults called ‘cracks’ or ‘crusts’ can be found in the ice wastelands.", "These faults are not just a natural anomaly, but a valuable resource, because they provide coaland titanite* to the few inhabitants of the wastelands. On either side of the largest fault are the astral citiesof Nei Alurg and Tetraglas. They are populated by mechanical scientists, the godless, and exiled mages.", "Far from the faults, only the fittest survive. These are the lands of giants,dangerous predators and creeping plants.", "Wanderes (especially demons) are treated with apprehension in the wastelands,for warm flesh and good equipment make attractive prey."],
        "placeholder":""
      }
    },
    {
      "id": "map_keizu",
      "img":"2",
      "en":{
        "title": "The Keizu Wildlands",
        "text": ["The Keizu Wildlands are the first hunting ground of the first plane forthose who eat like humans (or eat humans)", "The animals and inferior demons who inhabit these places usually possesspowerful limbs to help them traverse great distances and  escape predators that hunt themamong the high forests and endless pastures. Among the flora of the wild lands you can findmany aggressive plants, which appeared due to the strong influence of the demons of thesecond plane. The ‘Christian's Bonds’ and the ‘Tears of Villa’ are considered to be especially dangerous.", "It is unknown whether it was the plants that kept the astral cities from filling all possible territory and only letthem locate along the trade route, but the fact remains that in a large area you will not meet many settlers,which is why the lands of Keizu are called ‘Wild’."]
      }
    },
    {
      "id": "map_sun-scorched",
      "img":"3",
      "en":{
        "title": "SUN-SCORCHED LANDS OF TGWA",
        "text": ["It is believed that the Tgwa Desert used to be an incredibly fertile area. Mirinitsa seedlings alone were enoughto provide bread for all the nearby astral cities, including the capital of the first plane, located inthe middle of these lands.", "Due to constant earthquakes and volcanic eruptions of the second plane, the surface began to change.Hills and mountains formed in Tgwa (the very centre of the first plane) and all the big rivers merged intoone, starting to form a huge spiral around it. The heat emanating from beneath the earth dried upthe underground waters. The fertile soil turned into desert, the fields into dunes, and the beautiful forestsinto terrible trees warped by the drought.", "Now only madmen come back here, apart from travelers who strive to conquer the black castleand find a way into the second plane.", "In the immense heat, only the fittest survive, and that’s what makes the locals some of themost dangerous inhabitants of Pandemonium."]
      }
    },

  ];
  
  
  let train_roadmap = [
    {
      "colors": {"_1":"#643E86", "_2":"#32246B"},
      "img":'1',
      "en":{
        "text":["To begin with, you have to log in via your WAX wallet and choose a nickname. Right after that, you’ll receive the welcome bonus."]
      },
      "ru":{
        "text":["Для начала необходимо авторизоваться через wax-кошелек и выбрать себе никнейм. Сразу после этого приветственный бонус окажется у тебя.", "Отлично, теперь ты можешь участвовать в сражениях!"]
      }
    },
    {
      "colors": {"_1":"#963E77", "_2":"#772E9D"},
      "img":'2',
      "en":{
        "text":["Now, you are in the main menu. Here you can view your NFT card collection, previous and ongoing battles and visit the Arena! "]
      },
      "ru": {
        "text":["Теперь ты в главном меню. Здесь можно посмотреть свою коллекцию NFT карт,  предыдущие и идущие сейчас бои и отправится на Арену!"]
      }
    },
    {
      "colors": {"_1":"#963E77", "_2":"#772E9D"},
      "img":'3',
      "en":{
        "text":["Here’s the Arena!", "There are five battle panels on the screen. Ferocious rats fight against our knights. Unfortunately, without you, evil often wins.", "Do not despair: you can always add your NFT card to the knight by clicking on the knight’s '+' to increase the overall performance."]
      },
      "ru": {
        "text":["А вот и арена!","На экране пять панелей боев. Злые крыся борются с нашими рыцарями. К сожалению, без вас зло чаще всего побеждает.", "Не стоит опускать руки - к рыцарю всегда можно добавить свою NFT карточку, нажав на “+” у рыцаря, чтобы повысить общие характеристики."]
      }
    },
    {
      "colors": {"_1":"#643E86", "_2":"#32246B"},
      "img":'4',
      "en":{
        "text":["Also, you can pay coins to increase one of the indicators of a friendly warrior by clicking on the “Update” button."]
      },
      "ru":{
        "text":["Также нажав кнопку “Update” за коины можно увеличить один из показателей дружественного воина."]
      }
    },
    {
      "colors": {"_1":"#963E77", "_2":"#772E9D"},
      "img":'5',
      "en":{
        "text":["Now, you can click “To battle”: The bet amount will be deducted from your account, the panel will freeze and if your knight wins after the countdown ends, you get double the amount of your bet as a reward. "]
      },
      "ru": {
        "text":["Теперь можно нажать кнопку “To battle”: с твоих коинов спишется сумма ставки боя, панель заморозиться и, если рыцарь одержит победу после окончания таймера, то ты получишь двойную ставку в награду."]
      }
    },
    {
      "colors": {"_1":"#643E86", "_2":"#32246B"},
      "img":'6',
      "en":{
        "text":["Every card, including the NFT ones, has its own elemental class, which is responsible for the attack and damage taken.", "There are five classes in total: normal, fire, water, earth, and air.", "The elemental attacks with different classes cause different damage, as shown in the table below"]
      },
      "ru":{
        "text":["У каждой карты, в том числе и NFT - есть свой стихийный класс, который отвечает за атаку и получаемый урон.", "Всего их пять: обычный, огненный, водяной, земляной и воздушный.", "Стихийные атаки по разным классам наносят разный урон, как в таблице ниже:"]
      }
    },
    {
      "colors": {"_1":"#963E77", "_2":"#772E9D"},
      "img":'7',
      "en":{
        "text":["Also, every rat has its own secret attack that may turn the fight around. You'll have to figure out on your own what's behind the skull. At the end of the event we'll reveal this indicator."]
      },
      "ru": {
        "text":["Также у каждого крыса есть своя скрытая атака, влияющая на бой. Придется своими силами понять, что скрывается за черепом. В конце ивента мы раскроем этот показатель."]
      }
    },
    {
      "colors": {"_1":"#643E86", "_2":"#32246B"},
      "img":'8',
      "en":{
        "text":["If the knight wins, the opponents on the battle panel are upgraded to more difficult. If the knight loses, you still have a chance to play this battle again."]
      },
      "ru":{
        "text":["Если рыцарь одерживает победу, то противники на панели боя обновляются до более сложных. Если рыцарь проиграл, то у тебя остается шанс сыграть этот бой еще раз."]
      }
    }
  ]
  
  let roadmap = [
    {
      "colors": {"_1":"#643E86", "_2":"#32246B"},
      "en":{
        "date": "September 2021",
        "title": "Vestibule",
        "list": [
          "Creating the initial lore",
          "Basic art style development",
          "Drawing the first maps for drop and verification on AtomicHub"
        ]
      },
      "ru":{
        "date": "Сентябрь 2021",
        "title": "Преддверие",
        "list": [
          "Создание первоначального лора",
          "Разработка основного стиля",
          "Создание первых карт для дропа и верификации на AtomicHub"
        ]
      }
    },
    {
      "colors": {"_1":"#963E77", "_2":"#772E9D"},
      "en":{
        "date": "The first half of October 2021",
        "title": "Limbo",
        "list": [
          "Community building",
          "Active involvement of the community to influence the existing lore",
          "Drawing the first maps for drop and verification on AtomicHub"
        ]
      },
      "ru": {
        "date": "Первая половина октября 2021",
        "title": "Лимб",
        "list": [
          "Создание комьюнити",
          "Активное вовлечение комьюнити на проработку лора",
          "Создание первых карт для дропа и верификации на AtomicHub"
        ]
      }
    },
    {
      "colors": {"_1":"#5149B3", "_2":"#0E0654"},
      "en":{
        "date": "The second half of October 2021",
        "title": "Second circle",
        "list": [
          "Creating a whitelist of first subscribers",
          "Free drop for loyal users ",
          "Public drop of paid packs for the further development of the project"
        ]
      },
      "ru":{
        "date": "Вторая половина октября 2021",
        "title": "Второй круг",
        "list": [
          "Создание вайтлиста из первых подписчиков",
          "Бесплатный дроп для лояльной аудитории",
          "Публичный дроп платных паков в целях дальнейшего развития проекта"
        ]
      }
    },
    {
      "colors": {"_1":"#C99594", "_2":"#8E627E"},
      "en":{
        "date": "November 2021",
        "title": "Third circle",
        "list": [
          "In-depth development of the Pandemonium universe together with the community",
          "Developing own blockchain token “Soul Shard”",
          "Planning a game project",
          "Bonus 18+"
        ]
      },
      "ru":{
        "date": "Ноябрь 2021",
        "title": "Третий круг",
        "list": [
          "Углубленная проработка вселенной Пандемониума совместно с комьюнити",
          "Разработка собственного блокчейн-токена “Soul Shard”",
          "Проект игры",
          "Бонус 18+"
        ]
      }
    },
    {
      "colors": {"_1":"#96C193", "_2":"#76AAA0"},
      "en":{
        "date": "December 2021",
        "title": "Fourth circle",
        "list": [
          "Coming soon"
        ]
      },
      "ru":{
        "date": "Декабрь 2021",
        "title": "Четвертый круг",
        "list": [
          "Скоро"
        ]
      }
    }
  ]


  // __________________________faq-page



  let FAQ_roadmap = [
    {
      "text": ["Заходим на официальный сайт https://all-access.wax.io/", "Сервис предложит вам войти с помощью имеющейся учетной записи одной из поддерживаемых социальных сетей. Этим можно пользоваться в дальнейшем, а сейчас кликаем Sign Up For Account."], 
      "colors": {"_1":"#643E86", "_2":"#32246B"},
    },
    {
      "text": ["Вводим адрес электронной почты и создаем пароль."], 
      "colors": {"_1":"#643E86", "_2":"#32246B"},
    },
    {
      "text": ["После этого вам на почту придет письмо для подтверждения аккаунта. Переходим по ссылке из этого письма."], 
      "colors": {"_1":"#643E86", "_2":"#32246B"},
    },
    {
      "text": ["Соглашаемся с правилами пользования. Логинимся"], 
      "colors": {"_1":"#643E86", "_2":"#32246B"},
    },
    {
      "text": ["После этого можно (и рекомендовано!) установить двухфакторную идентификацию. Кликаем на значок настроек в правом нижнем углу -> Account Security -> 2-Factor Authentication."], 
      "colors": {"_1":"#643E86", "_2":"#32246B"},
    },
  ]




  let FAQ_interface = [
    [
      [
        {name:"WAXP Balance", value: " – ваш баланс в токенах WAXP."},
        {name:"WAXP", value: " – основной токен в экосистеме WAX, с помощью которого совершается большинство действий. Также в экосистеме существуют токены WAXE и WAXG."},
      ],
      [
        {name:"Dashboard", value: " – посмотреть основную информацию"},
        {name:"NFTs", value: " – ваши NFT"},
        {name:"dApps", value: " – Приложения, которые используют блокчейн WAX"},
        {name:"Staking Rewards", value: " – меню для стейкинга токенов WAXP"},
        {name:"WAX News", value: " – новости и анонсы кошелька"},
        {name:"ETH Bridge", value: " – служит для перевода токенов WAX в сеть Ethereum"},
        {name:"DeFi", value: " – меню для работы с токенами экосистемы WAX"},
      ]
    ],
    [
      [{name:"Ваш адрес кошелька WAX", value:", который понадобится для пополнения баланса и отправки NFT"}],
      [{name:"Send", value:" – кнопка для отправки токенов и NFT на другой кошелек"}],
      [{name:"Receive", value:" – кнопка для получения токенов. При нажатии появляется QR-код, который нужно отсканировать."}],
      [{name:"Resources", value:" – ресурсы вашего кошелька, о которых мы поговорим сегодня подробно."}],
      [{name:"Buy WAXP", value:" – Покупка токенов WAXP"}]
    ]
  ]





  let FAQ_resources_1 = [
    "Поговорим о ресурсах вашей учетной записи. Всего есть три ресурса, которые используются блокчейном WAX для его функционирования: RAM, CPU, NET.",
    "RAM — память блокчейна для хранения ваших NFT. Это, безусловно, самый важный ресурс для коллекционеров NFT.",
    "Другие два ресурса по большей части используются для записи в блокчейн, формирования транзакций, пересылки средств.",
    "CPU – этот ресурс отвечает за время проведения операции. Если расход показателя CPU доходит до 100%, вы больше не можете совершать транзакции на блокчейне WAX.",
    "NET — это сеть. Если необходимо передавать данные, тратится этот параметр."
  ]
  
  let FAQ_resources_2 = [
    "— Почистить кэш.",
    "— Открыть новое окно.",
    "— Включить режим инкогнито.",
    "— Проверить соединение с интернетом.",
    "— Включить/отключить VPN.",
    "— Открыть страницу в другом браузере."
  ]
  
  let FAQ_resources_3 = [
    {title:"Нехватка CPU и NET", text: [
      "Если расход показателя CPU доходит до 100%, вы больше не можете совершать транзакции на блокчейне WAX.",
      "Чтобы расширить емкость ресурса CPU, необходимо застейкать WAX. Для этого нажмите на Resources, выберите ресурс -> введите количество WAX -> нажмите Stake.",
      "Те же самые действия выполняем и для NET.",
    ]},
    {title:"Нехватка RAM", text: [
      "Память забивается в зависимости от количества NFT, которое вы храните у себя в коллекции.",
      "В отличие от предыдущих ресурсов, RAM не зависит от стейкинга, вы приобретаете и продаете RAM. Для этого нажмите на Resources, выберите RAM -> введите количество WAX -> нажмите Buy.Также все эти действия можно проделать на https://wax.bloks.io/ . Логинимся, заходим в Wallet и в меню слева выбираем действие.",
      "Также все эти действия можно проделать на https://wax.bloks.io/ . Логинимся, заходим в Wallet и в меню слева выбираем действие.",
    ]},
  ]
