section.s_game-first
	.container
		.login-block
			img(src="./resources/icons/wing.svg" class="login-block__wing _l")
			img(src="./resources/icons/wing.svg" class="login-block__wing _r")
			img(src="./resources/icons/svg_1.svg" class="login-block__logo _b")
			img(src="./resources/icons/svg_2.svg" class="login-block__logo _w")
			.login-block__box
				h2.title Login in WAX 
				a.login-block__link#login-btn 
					img(src="./assets/images/WAX.png").wax-logo
					|WAX Cloud Wallet
				a(href="").login-block__more 
					+svg('i_2')
					|Learn more
			p.text 
				|Don't have an account? Create in 
				a.login-block__link-info(href="") here
			p.text._b
				|Having problems?
				br
				|See how to eliminate them 
				a.login-block__link-info(href="") here
		button.btn Обучение
		
