section.bestiary-list._sec
	.container
		h2(class="lng-pack_new_title").title._grad New Year characters
		ul.bestiary-list__list#bestiary-pack_3
			each el in [1,2,3,4]
				li.bestiary-list__el
					img(src=`./assets/images/pack_1/${el}.png`)
					h3.title Neyada’s older sister
					p.text.scroll_1 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
					.hr

		h2(class="lng-pack_1_title").title._grad mermaid naiads
		ul.bestiary-list__list#bestiary-pack_1
			each el in [1,2,3,4,5]
				li.bestiary-list__el
					img(src=`./assets/images/pack_1/${el}.png`)
					h3.title Neyada’s older sister
					p.text.scroll_1 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
					.hr
		
		h2(class="lng-pack_2_title").title._grad Second pack of cards

		ul.bestiary-list__list#bestiary-pack_2
			each el in [1,2,3,4,5]
				li.bestiary-list__el
					img(src=`./assets/images/pack_1/${el}.png`)
					h3.title Neyada’s older sister
					p.text.scroll_1 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
					.hr