section.bestiary-first-sec._sec#bestiary-page
	.container
		h1(class="lng-bestiary_main_title").title._l welcome to the panedonium bestiary

		.bestiary-intro
			.bestiary-intro__block
				img(src="./assets/images/pack_1/1.png")._absolute
				img(src="./assets/images/pack_2/1.png")._static
				img(src="./assets/images/pack_1/2.png")._absolute
			.bestiary-intro__block
				img(src="./resources/icons/wing.svg")
				img(src="./resources/icons/wing.svg")