section._sec.lore-last
	.container
		h2(class="lng-lore-last_title").title._grad 
		a(href="#s_intro" class="lng-btn_bestiary").btn.page-btns_bestiary bestiary

		a(href="#s_intro").title._grad.page-btns_home 
			span(class="lng-btn_lore_home")
			img(src="./assets/images/Vector.svg")
