section._sec.lore-map
	.container
		.map
			.map-points
				span.map-points__point._1
				span.map-points__point._2
				span.map-points__point._3
			.map-zone
				.map-zone__el._1
					.map-zone__box
						h3.map-zone__name name
				.map-zone__el._2
					.map-zone__box
						h3.map-zone__name name
				.map-zone__el._3
					.map-zone__box
						h3.map-zone__name name

			.map__img
				img(src="./assets/images/map/main.jpg").main
				img(src="./assets/images/map/1.jpg")._1._fix
				img(src="./assets/images/map/2.jpg")._2._fix
				img(src="./assets/images/map/3.jpg")._3._fix

	