div.bodyDecoration
	img(src="./assets/images/Layers/1.png").decoration
	img(src="./assets/images/Layers/1.png").decoration
	img(src="./assets/images/Layers/1.png").decoration
	img(src="./assets/images/Layers/1.png").decoration
	img(src="./assets/images/Layers/1.png").decoration
	img(src="./assets/images/Layers/1.png").decoration