section._sec.s_card-box
	.container
		.card-box
			.card-box__block
				img(src="./assets/images/card_1.png")
				img(src="./assets/images/pack_1/1.png")._fix
			.card-box__block
				img(src="./assets/images/card_2.png")
				img(src="./assets/images/pack_2/1.png")._fix
		a(target="blanck" href="https://neftyblocks.com/c/pandemoniumw" class="btn lng-btn_nft")._shadow  Find us on atomichub

		//- .hr