section._sec.s_hover-img-bg
	.container

		h2(class="lng-hover_img_bg_title").title Become the Lord of the Underworld! Pandemonium are original nft cards with varying degrees of rarity, intended for collecting. Limited, unique and hot as hell.
		
		.hover-img-bg
			.hover-img-bg__box._fix
				img(src="./assets/images/bg_img_1.jpg")
			.hover-img-bg__box
				img(src="./assets/images/bg_img_2.jpg" )
		.hr