.map-modal
	.map-modal__overlay
	.map-modal__block
		h3.title The ice wastelands of Eigu
		p.lore-text.scroll_1 The ice wastelands of Eigu are located in the north of the first plane. The extreme cold that prevails in these areas has penetrated so deeply into the ground that it has begun to provoke strong seismic activity. Because of this, huge faults resembling snow-covered, incredibly deep canyons as well as smaller faults called "cracks" or "crusts" can be found in the ice wastelands. 
		a.btn-more.lng-btn_more read more
		span.remove ✘