section.s_FAQ-first._sec
	.container
		h2(class="lng-FAQ-first-title_1").title._grad КОШЕЛЕК WAX
		p(class="lng-FAQ-first-text_1").text._center Для полного погружения в мир Пандемониума вам понадобится кошелек WAX. В этом гайде мы подробно расскажем обо всех базовых функциях кошелька, пошагово покажем процесс регистрации и пополнения, а также поговорим о возможных проблемах и способах их решения.
		
		h4(class="lng-FAQ-first-title_2").title._grad Итак, начнем с определений:
		p(class="lng-FAQ-first-text_2_1").text._center
			span._bold WAX (Worldwide Asset eXchange) 
			|– это блокчейн, созданный исключительно под NFT.
		p(class="lng-FAQ-first-text_2_2").text._center
			|Сам 
			span._bold WAX Cloud Wallet
			|, который нам нужен, представляет из себя облачный кошелек, ориентированный на NFT. Он прост и удобен в использовании и обеспечивает комфортное взаимодействие с маркетплейсами, играми и приложениями.
		p(class="lng-FAQ-first-text_2_3").text._center
			|Также существует кошелек 
			span._bold ANCHOR
			|, более безопасный, но также и более сложный для пользователя. К тому же, его не поддерживают некоторые WAX-приложения, поэтому мы сосредоточимся именно на WAX Cloud Wallet.

	
	.hr
