section.s_FAQ-how._sec
	.container
		.FAQ-how
			h4(class="lng-FAQ-how-title").title Как пополнить?
			.FAQ-how__box
				p(class="lng-FAQ-how-text_1").text 1. Для пополнения кошелька необходимо перейти нажать Buy WAXP и перейти на любую биржу, где торгуется WAX.
			.FAQ-how__box
				p(class="lng-FAQ-how-text_2").text 2. Покупаем нужное количество WAXP на этой бирже и нажимаем Вывести.
			.FAQ-how__box
				p(class="lng-FAQ-how-text_3").text 3. Отправляем их себе на аккаунт. Для этого в форме вывода необходимо указать ваш адрес кошелька WAX.
				p(class="lng-FAQ-how-text_4").text
					span._red Внимание: 
					| без верификации за раз можно вывести максимум 50 токенов. Токены отобразятся в верхнем левом углу в WAXP Balance. Транзакция занимает до 15 минут.
